<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>321058891613-lqrfn8dl8kh484r1uf4po5gdvdplqu1q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.321058891613-lqrfn8dl8kh484r1uf4po5gdvdplqu1q</string>
	<key>API_KEY</key>
	<string>AIzaSyAw8PxeoaIs2v1GURlqRbi7Ssk0BmNbbuc</string>
	<key>GCM_SENDER_ID</key>
	<string>321058891613</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>niroshan123.nibm-cafe</string>
	<key>PROJECT_ID</key>
	<string>nibm-73429</string>
	<key>STORAGE_BUCKET</key>
	<string>nibm-73429.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:321058891613:ios:fed7b3ff3034b5f5b86ab4</string>
</dict>
</plist>